In [246]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [247]:
import numpy as np

In [248]:
df = pd.read_csv("./dataset/Train.csv")

In [249]:
X = np.array(df)[:, :-1]
Y = np.array(df)[:, -1]

In [250]:
X.shape

(1600, 5)

In [251]:
Y = np.reshape(Y, (-1 , 1))

In [252]:
Y.shape

(1600, 1)

In [253]:
ones = np.ones((X.shape[0], 1), np.float64)
X = np.hstack((ones, X))

In [254]:
X.shape

(1600, 6)

In [341]:
# calculate the theta
def get_theta(x, y):
    xt = x.T
    first = np.linalg.pinv(np.dot(xt, x))
    second = np.dot(xt, y)
    return np.dot(first, second)

In [342]:
theta = get_theta(X, Y)

In [343]:
theta

array([[ 4.99096674],
       [29.68187118],
       [92.66247759],
       [ 8.28062089],
       [44.76773522],
       [ 2.51916121]])

In [344]:
theta.shape

(6, 1)

In [345]:
df_test = pd.read_csv('./dataset/Test.csv')

In [346]:
test = np.array(df_test)

In [347]:
ones = np.ones((test.shape[0], 1), np.float64)
test = np.hstack((ones, test))

In [348]:
test.shape

(400, 6)

In [349]:
t1 = np.reshape(test[2], (-1, 1))

In [350]:
t1.shape

(6, 1)

In [351]:
pred = np.dot(theta.T, t1)
print(pred)

[[-21.73985233]]

### Prediction

In [365]:
trTheta = theta.T
m = test.shape[0]
outcome = np.empty((m, 2))
for i in range(m):
    outcome[i][0] = int(i)
    outcome[i][1] = np.dot(trTheta, test[i])

In [366]:
pd.DataFrame(outcome, columns=["Id", "target"]).to_csv("Outcome.csv", index=None)

In [367]:
df_sample = pd.read_csv("./dataset/Sample_Submission.csv")

In [368]:
df_sample.head()

   Id  target
0   0       0
1   1       1
2   2       2
3   3       3
4   4       4

In [369]:
df_outcome = pd.read_csv("./Outcome.csv")

In [370]:
df_outcome.head()

    Id      target
0  0.0  114.583689
1  1.0  118.012815
2  2.0  -21.739852
3  3.0  -43.936899
4  4.0  -95.914898

In [371]:
sample = np.array(df_sample)

In [372]:
type(sample[0][0])

numpy.int64