In [416]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [443]:
df_train = pd.read_csv("./dataset/diabetes.csv")
df_test = pd.read_csv("./dataset/Diabetes_Xtest.csv")

In [445]:
X = np.array(df_train)[:, :8]
Y = np.array(df_train)[:, 8]
test = np.array(df_test)[:, :]

In [438]:
df_train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [571]:
df_test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [572]:
# distance functiion to calculate the distance in eucilidean space
def distance(p2, p1):
    return np.sum((p2- p1)**2)**.5

In [608]:
def knn(X, Y, test, k = 15):
    m = X.shape[0]
    d = {}
    for i in range(m):
        d[distance(test, X[i])] = Y[i]
    l = sorted(d)
    l = l[:k]
    label = [d.get(each) for each in l]
    label = np.unique(label, return_counts=True)
    idx = np.argmax(label[1])
    pred = label[0][idx]
    return pred

In [609]:
outcome = np.empty([192], np.int64)
m = test.shape[0]
for i in range(m):
    outcome[i] = np.int64(knn(X, Y, test[i]))

In [610]:
pd.DataFrame(outcome, columns=["Outcome"]).to_csv("Outcome.csv", index=None)

In [611]:
df_outcome = pd.read_csv("./Outcome.csv")

In [612]:
df_outcome.head()

   Outcome
0        1
1        0
2        0
3        0
4        0

In [613]:
df_format = pd.read_csv("./dataset/sample_submission.csv")

In [614]:
df_format.head()

   Outcome
0        1
1        1
2        1
3        1
4        1