In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv("./dataset/diabetes.csv")
df_test = pd.read_csv("./dataset/Diabetes_Xtest.csv")

In [3]:
X = np.array(df_train)[:, :8]
Y = np.array(df_train)[:, 8]
test = np.array(df_test)[:, :]

In [4]:
df_train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
df_test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [6]:
# distance functiion to calculate the distance in eucilidean space
def distance(p2, p1):
    return np.sum((p2- p1)**2)**.5

In [7]:
def knn(X, Y, test, k = 15):
    m = X.shape[0]
    d = {}
    for i in range(m):
        d[distance(test, X[i])] = Y[i]
    l = sorted(d)
    l = l[:k]
    label = [d.get(each) for each in l]
    label = np.unique(label, return_counts=True)
    idx = np.argmax(label[1])
    pred = label[0][idx]
    return pred

In [8]:
outcome = np.empty([192], np.int64)
m = test.shape[0]
for i in range(m):
    outcome[i] = np.int64(knn(X, Y, test[i]))

In [9]:
pd.DataFrame(outcome, columns=["Outcome"]).to_csv("Outcome.csv", index=None)

In [10]:
df_outcome = pd.read_csv("./Outcome.csv")

In [11]:
df_outcome.head()

   Outcome
0        1
1        0
2        0
3        0
4        0

In [12]:
df_format = pd.read_csv("./dataset/sample_submission.csv")

In [13]:
df_format.head()

   Outcome
0        1
1        1
2        1
3        1
4        1

### Prediction using Logistic Regression

In [43]:
print(X.shape)
print(Y.shape)
print(test.shape)

(768, 8)
(768,)
(192, 8)

In [44]:
from sklearn.linear_model import LogisticRegression

In [45]:
model =  LogisticRegression(multi_class='ovr')

In [46]:
model.fit(X, Y)

/home/macab/.local/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
predictions = model.predict(test)

In [48]:
pd.DataFrame(predictions, columns=["Outcome"]).to_csv("OutcomeLogReg.csv", index=None)

In [49]:
model.score(X, Y)

0.7760416666666666

1.0

In [ ]:
from sklearn.cla